<mat-card class="card-position">
    <mat-card-title>
        Odgovori povereniku na zalbu
    </mat-card-title>
    <mat-card-subtitle>
        broj zalbe: {{zalba.id}}
    </mat-card-subtitle>
    <mat-card-content>
        <p>

        </p>

        <div *ngIf="role=='SLUZBENIK'">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Odgovor na zalbu</mat-label>
                  <textarea matInput placeholder="Unesite odgovor" #input></textarea>
                </mat-form-field>

                <button *ngIf="!odgovoreno" mat-raised-button color="primary" aria-label="Odgovori" id="acceptBtn" 
                (click)="odgovori(input.value)" class="btn-spacing">
                    Odgovori
                </button>
            </form>           

        </div>

    </mat-card-content>

</mat-card>